<%- include('../partials/header') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 mb-3">
      <p class="lead">CampSpot</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card mb-4">
        <img class="card-img-top border rounded" src="<%= campInfo.img %>" />
        <div class="card-body">
          <div class="mb-3">
            <a href="#">
              <h4 class="card-title d-inline"><%=campInfo.name%></h4>
            </a>
            <h5 class="float-right d-inline">
              $<%= campInfo.price %> <small><sub>/night</sub></small>
            </h5>
          </div>
          <p class="card-text"><%=campInfo.description%></p>
          <small class="text-muted d-block card-subtitle mb-3">
            <em
              >Submitted by:
              <a
                onmousedown="event.preventDefault ? event.preventDefault() : event.returnValue = false"
                href="/users/<%= campInfo.author.id %> "
                ><%= campInfo.author.username %></a
              >, <%=moment(campInfo.createdAt).fromNow() %>
            </em>
          </small>

          <% if(currentUser && campInfo.author.id.equals(currentUser._id) ||
          currentUser && currentUser.isAdmin){ %>
          <a
            class="btn btn-sm btn-warning"
            href="/campgrounds/<%= campInfo._id %>/edit"
            >Edit
          </a>
          <form
            action="/campgrounds/<%= campInfo._id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>

      <!--COMMENT SECTION START-->
      <div class="jumbotron">
        <!--Setting up the add new comment button that is used for collapsing-->
        <div class="text-right">
          <a
            class="btn btn-success"
            role="button"
            data-toggle="collapse"
            href="#collapseComment"
            aria-expanded="false"
            aria-controls="collapseComment"
          >
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add new comment</a
          >
        </div>

        <!--Comment section title-->
        <h4>
          <strong
            >Comments
            <span
              class="glyphicon glyphicon glyphicon-comment"
              aria-hidden="true"
            >
            </span>
          </strong>
        </h4>

        <!--Collapse Add a comment form START-->
        <div class="collapse" id="collapseComment">
          <div class="card border-0" <% if(!currentUser) { %>
            <!--If the user is not logged in, direct him to the login page-->
            <h5 class="container">
              You need to login before you can comment.
              <a href="/users/login">Click here</a> to go to the login page.
            </h5>
            <% } %> <% if(currentUser) { %>
            <!--If the user is logged in, show the new comment form-->

            <form
              id="add-comment-form"
              action="/campgrounds/<%= campInfo._id %>/comments"
              method="POST"
              class="border-0"
            >
              <input
                class="font-weight-bold rounded-0 border-0"
                type="text"
                disabled
                value="<%= currentUser.username %>"
              />

              <div class="form-group d-inline">
                <textarea
                  class="form-control"
                  name="comment[text]"
                  placeholder="Write your comment..."
                  form="add-comment-form"
                  rows="5"
                  cols="70"
                ></textarea>
              </div>
              <div class="form-group mt-2 bg-transparent">
                <button class="btn btn-success btn-sm">Comment</button>
              </div>
            </form>
            <% } %>
          </div>
        </div>
        <!--Collapse Add a comment form END-->

        <hr />

        <!--Check if there are comments, if there are none say no comments.-->
        <% if (campInfo.comments.length === 0) { %>
        <em style="color: grey">No comments yet.</em>
        <% } %>

        <!--Display comments by looping through them-->
        <% campInfo.comments.forEach(function(comment) { %>
        <div class="row">
          <div class="col-md-12">
            <strong>
              <% if (currentUser && currentUser._id.equals(comment.author.id) ||
              comment.author.username==='Admin') { %>
              <!--If the current user owns the comment, change the color of the user icon-->
              <span
                style="color: orange"
                class="glyphicon glyphicon-user"
                aria-hidden="true"
                ><i class="fas fa-user"></i
              ></span>
              <% } else { %>
              <!--Else just display it black-->
              <span aria-hidden="true"><i class="fas fa-user"></i></span>
              <% } %>
              <!--Print out the author username-->
              <%= comment.author.username %>
            </strong>
            <small class="float-right"
              ><%= moment(comment.createdAt).fromNow() %>
            </small>

            <!--Printing the comment-->
            <p><%= comment.text %></p>
            <!--Show when the comment was made-->

            <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
            <% if (currentUser &&
            currentUser._id.equals(comment.author.id)||currentUser&&currentUser.isAdmin)
            { %>

            <span class="float-right"
              ><!--Edit button used for collapsing the edit comment form-->
              <a
                role="button"
                class="text-dark"
                data-toggle="collapse"
                href="#collapseEdit<%= comment._id %>"
                aria-expanded="false"
                aria-controls="collapse<%= comment._id %>"
              >
                <i class="fas fa-pencil-alt"></i>
              </a>
              <!--Delete comment button-->
              <form
                id="delete-form"
                action="/campgrounds/<%= campInfo._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
                style="display: inline"
              >
                <button class="text-dark">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </form>
            </span>

            <!--Edit comment form-->
            <div class="collapse" id="collapseEdit<%= comment._id %>">
              <div
                style="
                  padding-left: 10px;
                  border-left: 5px solid #ffbb33;
                  margin-top: 15px;
                "
              >
                <h4>
                  Edit your comment
                  <span aria-hidden="true">
                    <i class="fas fa-pencil-alt"></i
                  ></span>
                </h4>
                <form
                  id="edit-comment-form"
                  id="edit-comment-form<%= comment._id %>"
                  action="/campgrounds/<%= campInfo._id %>/comments/<%= comment._id %>?_method=PUT"
                  method="POST"
                  class="border-0"
                >
                  <div class="form-group">
                    <input
                      class="font-weight-bold rounded-0 border-0"
                      type="text"
                      disabled
                      value="<%= currentUser.username %>"
                    />
                  </div>
                  <div class="form-group d-inline">
                    <textarea
                      class="form-control"
                      name="comment[text]"
                      placeholder="Your comment text..."
                      form="edit-comment-form<%= comment._id %>"
                      rows="5"
                      cols="70"
                    >
  <%= comment.text %>
                    </textarea>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-warning btn-sm">
                      Edit comment
                      <span
                        class="glyphicon glyphicon-comment"
                        aria-hidden="true"
                      ></span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <hr />
        <% }) %>
      </div>
      <!--COMMENT SECTION END-->
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
